* {
  padding: 0;
  margin: 0;
}

/* Radiosity Statistics*/
stats-hover {
  position: absolute;
  top: 15px;
  left: 15px;

  background-color: white;

  height: 15px;
  width: 15px;
}

stats {
  position: absolute;
  top: 37px;
  left: 41px;

  height: 210px;
  width: 290px;
  
  display: none;

  font-size: larger;
  font-family: 'Courier', Arial, monospace;
  font-weight: bold;
  color: white;
}

stats-hover:hover + stats{
  display: flex;
  flex-direction: column;
}

/* Axis helper */
cube-helper {
  position: absolute;
  bottom: 15px;
  left: 15px;

  height: 135px;
  width: 135px;
}