:root {
  --bg: #2d3436;
  --bga: #2d3436e0;
  --fg: white;
}

html, body {
  background-color: var(--bg);
  color: var(--fg);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

/* Radiosity menu */
#menu {
  position: absolute;
  top: 1em;
  left: 1em;

  border: solid 2px var(--fg);

  font-family: 'Consolas', monospace;
}

#menu * {
  font-size: 1em;
}

#menu h2 {
  text-decoration: underline;
  margin-bottom: .5em;
}

.menu-item {
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
}

.menu-item:hover,
.menu-item.selected {
  border-color: var(--bg);
}

/* Images */
.menu-item img {
  margin: 0.5em;
  display: block;
}

/* Windows */
.window {
  position: absolute;
  left: 150%; /* for compatibility if calc doesn't work */
  left: calc(100% + 1em + 4px); /* 1em from the right of the menu, incl. borders */
  top: -2px; /* to align with the border */

  border: solid 2px var(--fg);
  background-color: var(--bga);

  padding-left: 5px;
  padding-top: 5px;

  min-width: 20em;
}

.menu-item:first-child .window {
  top: -4px; /* to align with both borders */
}

.menu-item:not(.selected) .window {
  display: none;
}

/* menu button colors */
#menu > :nth-child(1) { background-color: #75c9c8; }
#menu > :nth-child(2) { background-color: #9CB6DD; }
#menu > :nth-child(3) { background-color: #c0b9dd; }
#menu > :nth-child(4) { background-color: #ded9e2; }
#menu > :nth-child(5) { background-color: #f7f4ea; }

#slider-container {
  text-align: center;
}

#slider-container > input {
  margin-bottom: 20px;
}

.slider-label {
  margin-bottom: 5px;
}

#delay {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.window {
  cursor: default;
  pointer-events: none;
}

#env > div:nth-child(n+3):nth-last-child(n) {
  cursor: pointer;
  pointer-events: all;
}

#slider-container > input {
  cursor: pointer;
  pointer-events: all;
}

#delay > div {
  cursor: pointer;
  pointer-events: all;
}

#ambient, #overshoot, #wireframe {
  cursor: pointer;
  pointer-events: all;
}

/* Underline */
.selected{
  text-decoration: solid underline;
}

/* Underline */
.disabled{
  text-decoration: solid line-through;
}

/* Axes helper */
#axes-helper-frame {
  position: absolute;
  bottom: 15px;
  left: 15px;

  height: 135px;
  width: 135px;
}
